# This file is a template, and might need editing before it works on your project.
# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/python/tags/
# image: python:latest

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
# variables:
#  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
# cache:
#  paths:
#    - .cache/pip
#    - venv/

before_script:
  - apt update
  - apt upgrade -y
  - apt install conda python python3 pip -y
  - conda env create --file environment.yml
  - conda env update

test:
  script:
    - python3 ./script/collect_data.py https://drive.google.com/uc?id=1O1qOK8nWRa3hTVSxUnPAYJN5Di_am9bi raw_mails
    - python3 ./data_processing/to_json.py "utf-8"
    -  python3 BERT/ClassifierModel.py
